# Джава и скомпиленные классы (мусор)
*.class

# Сборки (Джарники и прочий жир) #
*.jar
*.war
*.ear

# Логи и всякая база (не коммитим!) #
*.log
*.sql
*.sqlite
*.jfr

# Ошметки операционки (мусор от макбуков и винды) #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Гредловый кэш и билды
.gradle/
build/
*.zip

# Итоги прогонов (артефакты, метрики)
artifacts/

# Кэши IDE (шоб у каждого локально свое было)
.idea/
.vscode/
*.iml
*.iws
.bsp/
out/
bin/
